@import '../variables';
@import '../mixins';

.myOrdersPage {
	margin: 0;
	padding: 0;

	.myOrdersContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 7vh;

		.myOrdersField {
			border: 0.1vh solid $pearl-gold;
			border-radius: 1vh;
			width: 70vw;
			background: radial-gradient(circle, $dark-gold 60%, $pearl-gold);
			text-align: center;
			font-family: $playfair;
			font-size: 2vh;
		}

	}
}