@import './variables';
@import './mixins';

.sidebar {
	display: flex;
	text-align: left;
	flex-direction: column;
	width: 10vw;
	height: 100vh;
	position: fixed;
	border-right: 0.1vh solid $pearl-gold;

	.sidebarLink1, .sidebarLink2, .sidebarLink3, .sidebarLink4, .sidebarLink5, .sidebarLink6, .sidebarButton {
		position: absolute;
		left: 7%;
		text-decoration: none;
		font-family: $playfair;
		color: $champagne-beige;
		font-size: 2vh;
	}

	.sidebarLink1 {
		top: 7%;
	}
	
	.sidebarLink2 {
		top: 14%;
	}
	
	.sidebarLink3 {
		top: 21%;
	}
	
	.sidebarLink4 {
		top: 28%;
	}
	
	.sidebarLink5 {
		top: 35%;
	}

	.sidebarLink6 {
		top: 42%;
	}

	.sidebarButton {
	 bottom: 7%;
	 width: 8.5vw;
	 background-color: $dark-grey;
	 border: 0.1vh solid $pearl-gold;
	 border-radius: 1vh;
	 
	  &:hover {
			background: radial-gradient(circle, $dark-gold 60%, $pearl-gold);
			cursor: pointer;
			color: $black;
		}
	}
}

.uploadContainer {
	padding: 7vh 12vw;
	display: flex;
	flex-direction: column;
	width: 25vw;
	
	.uploadContainerInput, .uploadContainerInput5 {
		background: radial-gradient($dark-gold 60%, $pearl-gold);
		color: $black;
		border: 0.1vh solid $pearl-gold;
		border-radius: 1vh;
		margin: 1vh;
		font-family: $playfair;
		font-size: 2vh;

		&:focus {
			outline: $pearl-gold;
		}
	}

	.uploadContainerOption {
		background-color: $dark-grey;
		color: $champagne-beige;
	}

	.uploadButton {
		background: radial-gradient(circle, $dark-gold 60%, $pearl-gold);
		color: $black;
		border: 0.1vh solid $pearl-gold;
		border-radius: 1vh;
		padding: 1vh;
		font-family: $playfair;
		font-size: 2vh;
		cursor: pointer;
		margin-top: 2vh;
	
		&:hover {
			background: radial-gradient(circle, $pearl-gold, $dark-gold);
		}
	
		&:disabled {
			background: $dark-grey;
			cursor: not-allowed;
		}
	}	
}

.artworksContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18vw, 1fr));
	grid-gap: 2vw;
	width: 85%;
	padding: 4vh 0 4vh 12.5vw;
	
	.picture {
		width: 20vw;
		height: 20vh;
		border: 0.1vh solid $pearl-gold;
		border-radius: 1vh;
	}
}

// /artist/profile
.profilePage {
	padding-top: 7vh;

	.profileContainer {
		@include flex-center;
		flex-direction: column;
		text-align: center;
		margin: auto;
		padding: 2vh 0;
		background: radial-gradient($dark-gold 60%, $pearl-gold);
		border: 0.1vh solid $pearl-gold;
		border-radius: 1vh;
		width: 75vw;
		font-family: $playfair;
		
		.profileHeader {
			font-family: $cinzel;
			font-size: 2vh;
	
			.editButton {
				background-color: $dark-grey;
				color: $champagne-beige;
				font-size: 2vh;
				padding: 1vh;
				margin-bottom: 2vh;
				border: 0.1vh solid $pearl-gold;
				border-radius: 1vh;
				cursor: pointer;
	
				&:hover {
					background: radial-gradient($dark-gold 60%, $pearl-gold);
					color: $black
				}
			}
		}
	
		.editProfileForm {
			@include flex-center;
			flex-direction: column;
			gap: 2vh;
	
			.editInput, .editTextarea {
				font-family: $playfair;
				font-size: 2vh;
				background-color: $dark-grey;
				color: $champagne-beige;
				border: 0.1vh solid $pearl-gold;
				border-radius: 1vh;
				padding: 0.5vh;
				text-align: center;
				width: 40vw;
	
				&:nth-child(1) {
					width: 20vw;
				}
	
				&:nth-child(2) {
					height: 30vh;
				}
			}
	
			.editSaveButton {
				background-color: $dark-grey;
				color: $champagne-beige;
				font-size: 2vh;
				padding: 1vh;
				margin-bottom: 2vh;
				border: 0.1vh solid $pearl-gold;
				border-radius: 1vh;
				cursor: pointer;
	
				&:hover {
					background: radial-gradient($dark-gold 60%, $pearl-gold);
					color: $black
				}
			}
		}
	
		.profileInfo {
			font-size: 2vh;
	
			.imagesContainer {
				@include flex-center;
			
				.profileImageContainer, .coverImageContainer {
					padding: 2vh 2vw;
			
					.profileImage, .coverImage {
						border: 0.1vh solid $pearl-gold;
						border-radius: 1vh;
					}
				}
			}

			.profileInfoBio {
				width: 50vw;
			}

			.profileInfoLink {
				text-decoration: none;
				color: $black;
			}
		}
	}
}





