@import './variables';
@import './mixins';

.loginTitle {
	font-family: $cinzel;
	letter-spacing: 3%;
	font-size: 3vh;
}

.formRow {
	display: flex;
	justify-content: space-between;
	gap: 1vw;

	.emailTitle, .passwordTitle {
		font-family: $playfair;
		font-size: 2vh;
		letter-spacing: 3%;
		margin-top: 0.5vh;
	}

	.emailInput, .passwordInput {
		background-color: $dark-grey;
		color: $champagne-beige;
		border: 0.1vh solid $pearl-gold;
		border-radius: 1vh;
		font-family: $playfair;
		font-size: 2vh;
		padding: 0.5vh;

		&:focus {
			outline: 0.2vh solid $pearl-gold;  // Entfernt die Standard-Fokus-Linie
		}
	}
}

.submitButton {
	background-color: $dark-gold;
	color: $black; 
	border: 0.1vh solid $pearl-gold; 
	border-radius: 1vh; 
	font-size: 2vh; 
	font-family: $playfair; 
	margin-top: 2vh;

	&:hover {
		cursor: pointer;
		background-color: $dark-grey;
		color: $champagne-beige;
	}						
}

