@import './variables';
@import './mixins';

.ordersChartContainer {
  margin: 0 12vw;
  padding: 7vh 0;

  .mainTitle {
		text-align: center;
    font-family: $playfair;
    font-size: 3vh;
    letter-spacing: 3%;
    color: $champagne-beige;
  }

  .chartContainer {
    height: 20vh;  // Passt die Größe des Diagramms an
    display: flex;
    justify-content: center;
		background: radial-gradient($dark-gold 60%, $pearl-gold);
		border: 0.1vh solid $pearl-gold;
		border-radius: 1vh;
  }
}
