@import './variables.scss';
@import './mixins.scss';

.pictureContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
	grid-gap: 2vw;
	width:90vw;
	height: 70vh;
	margin: 3vh auto;
	
	.pictureField {
		@include flex-center;
		justify-content: flex-start;
		flex-direction: column;

		.picture {
			width: 20vw;
			height: 20vh;
			border: 0.1vh solid $pearl-gold;
			border-radius: 1vh;
		}
	
		.pictureLabel {
			font-family: $playfair;
			font-size: 2vh;
			color: $champagne-beige;
		}
	}
}
