@import './variables';
@import './mixins';

.registerTitle {
	font-family: $cinzel;
	letter-spacing: 3%;
	font-size: 3vh;
}

.succes {
	font-size: 2vh;
	font-family: $playfair;
}

.userTypeSelection {
	font-family: $playfair;
	font-size: 2vh;
	@include flex-center;
	flex-direction: column;

	input {
		cursor: pointer;
		appearance: none;
		width: 1.5vh;
		height: 1.5vh;
		border: 0.1vh solid $pearl-gold;
		border-radius: 0.5vh;
	
		&:checked {
			background-color: $dark-grey;
		}
	}
}

.formRow {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vw;

	.title {
		font-family: $playfair;
		font-size: 2vh;
		letter-spacing: 3%;
		margin-top: 0.5vh;
	}

	.input {
		background-color: $dark-grey;
		color: $champagne-beige;
		border: 0.1vh solid $pearl-gold;
		border-radius: 1vh;
		font-family: $playfair;
		font-size: 2vh;
		padding: 0.5vh;

		&:focus {
			outline: 0.2vh solid $pearl-gold;  // Entfernt die Standard-Fokus-Linie
		}
	}
}

.submitButton {
	background-color: $dark-gold;
	color: $black; 
	border: 0.1vh solid $pearl-gold; 
	border-radius: 1vh; 
	font-size: 2vh; 
	font-family: $playfair; 
	margin-top: 2vh;

	&:hover {
		cursor: pointer;
		background-color: $dark-grey;
		color: $champagne-beige;
	}						
}
