@import './variables';
@import './mixins';

.selectionBar {
	position: static;
	background-color: $black;
	width: 100vw;
	height: 10vh;
	margin-top: 9vh;

	.displaySelectionButtonStandart, 
	.displaySelectionButtonFullscreen, 
	.sortSelectionButton {
		background-color: $black;
		color: $champagne-beige;
		font-size: 2vh;
		font-family: $playfair;
		text-decoration: none;
		margin: 0;
	}

	.displaySelection {
		background-color: $black;
		border: 0.1vh solid $pearl-gold;
		border-radius: 1vh;
		display: flex;
		position: absolute;
		top: 15%;
		transform: translateY(-85%);
		left: 5%;
	
		// Einheitliche Button-Styling-Basis
		.displaySelectionButtonStandart,
		.displaySelectionButtonFullscreen {
			flex: 1;
			border: none;
			cursor: pointer;
			font-weight: bold;
		}
	
		// Standardanzeige aktiv
		.displaySelectionButtonStandart {
			background: radial-gradient(circle, $dark-gold 60%, $pearl-gold);
			color: $black;
			border-top-left-radius: 1vh;
			border-bottom-left-radius: 1vh;
		}
	
		// Vollbildanzeige (inaktiv, aber hoverbar)
		.displaySelectionButtonFullscreen {
			border-top-right-radius: 1vh;
			border-bottom-right-radius: 1vh;
			background: $black;
			color: $champagne-beige;
	
			&:hover {
				background: radial-gradient(circle, $dark-gold 60%, $pearl-gold);
				color: $black;
			}
		}
	
		// Standard-Button ändern, wenn der Fullscreen-Button gehovt wird
		&:has(.displaySelectionButtonFullscreen:hover) .displaySelectionButtonStandart {
			background: $black;
			color: $champagne-beige;
		}
	}
		
	.sortSelection {
		@include flex-center;
		background-color: $black;
		gap: 1.5vw;
		position: absolute;
		top: 15%;
		transform: translateY(-85%);
		right: 5.9%;
	
		.sortSelectionButton {
			border: 0.1vh solid $pearl-gold;
			border-radius: 1vh;
			padding: 0.2vh 1vw;

			&:hover {
				background: radial-gradient(circle, $dark-gold 60%, $pearl-gold);
				color: $black;
				cursor: pointer;
			
				.buttonImage {
					filter: none;
				}
			}
		}
		
		.buttonImage {
			filter: invert(85%) sepia(50%) saturate(200%) hue-rotate(20deg);
			margin-right: 0.5vw;
		}
	}
}

.sidebar {
  position: fixed;
  top: 0;
  right: -30vw; // Startposition außerhalb des Bildschirms
  width: 25vw;
  height: 100%;
  background: $black;
  transition: right 0.3s ease-in-out;
  z-index: 1001;
	padding: 1vh 2vw;
	color: $champagne-beige;

  &.open {
    right: 0; // Sidebar sichtbar
  }

	.sidebarHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: $cinzel;
		font-size: 2vh;
	}
	
	.closeButton {
		background: none;
		border: none;
		font-size: 3vh;
		cursor: pointer;
		color: $champagne-beige;
	}

	.sidebarContent {
		font-family: $playfair;
		font-size: 2vh;
	}
}



// 🔹 Overlay für Sidebar
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dropdownMenu {
  position: absolute;
  top: 6vh;
  right: 0;
  background: $black;
  border: 0.1vh solid $pearl-gold;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 10;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 0.5vh;
	padding: 0.5vh 1vw;
  cursor: pointer;
	color: $champagne-beige;
	font-size: 2vh;
	font-family: $playfair;
  
	&:hover {
    background: radial-gradient(circle, $dark-gold 60%, $pearl-gold);
		color: $black;
  }

	&:first-child {
		border-top-left-radius: 1vh;
		border-top-right-radius: 1vh;
	}

	&:last-child {
		border-bottom-left-radius: 1vh;
		border-bottom-right-radius: 1vh;
	}
}

.dropdownItem input {
  cursor: pointer;
	appearance: none;
	width: 1.5vh;
	height: 1.5vh;
	border: 0.1vh solid $pearl-gold;
	border-radius: 0.5vh;

	&:checked {
		background: radial-gradient(circle, $dark-gold 60%, $pearl-gold);
	}
}

.dropdownLabel {
  font-size: 2vh;
	font-family: $playfair;
	color: $champagne-beige;
  display: block;
	margin-bottom: 1vh;
}

.dropdownSelect {
	font-size: 2vh;
	font-family: $playfair;
	color: $black;
	background: radial-gradient(circle, $dark-gold 60%, $pearl-gold);
  width: 100%;
  padding: 1vh;
  border: 0.1vh solid $pearl-gold;
	border-radius: 1vh;

	&:hover {
		cursor: pointer;
	}
}